<mat-toolbar color="primary">
    <span class="nav-title"><a [routerLink]="['/']" routerLinkActive="router-link-active">Coding Challenge</a></span>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
      <ul fxLayout fxLayoutGap="10px" class="nav-items">
        <!-- <li *ngIf="!isAuthenticated"><a [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a></li>
        <li *ngIf="isAuthenticated" (click)="onLogout()"><a >Logout</a></li> -->
      </ul>
    </div>
</mat-toolbar>