a {
    color: white;
  }
  a :hover,
  a :active {
    color: lightgray;
  }
  .nav-title {
    margin-left: 20px;
  }
  .nav-items {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  